{{#with blogPost}}
    <section class="border-bottom border-secondary pb-3">
        {{> blogPostDetails}}
    </section>
{{/with}}
<section class="pt-3">
    <h2>Comments:</h2>
    <div class="list-group list-group-flush">
        {{#each blogPost.Comments}}
            <div class="list-group-item">
                <h3 class="fs-5">#{{@index}}. By {{User.username}} on {{format_date createdAt}}</h3>
                <p>{{text}}</p>
            </div>
        {{/each}}
    </div>
</section>