{{#with blogPost}}
    <section class="border-bottom border-secondary pb-3">
        {{> blogPostDetails}}
    </section>
{{/with}}
<section class="pt-3">
    <h2>Comments:</h2>
    <ol class="list-group list-group-flush">
        {{#each blogPost.Comments}}
            <li class="list-group-item">
                <h3 class="fs-5">#{{inc @index}}. By {{User.username}} on {{format_date createdAt}}</h3>
                <p>{{text}}</p>
            </li>
        {{/each}}
    </ol>
    
</section>