<div class="row">
    <div class="col col-md-6">
        <form class="bg-secondary-subtle border border-secondary p-3">
            <h2>Existing Users:</h2>
            <label for="exUsernameInput" class="form-label">User Name</label>
            <input id="exUsernameInput" type="text" class="form-control" required>
            <label for="exPasswordInput" class="form-label">Password</label>
            <input id="exPasswordInput" type="password" class="form-control" required>
            <button id="loginFormButton" type="submit" class="btn btn-secondary mt-3">Log In</button>
            <p id="loginFormFeedback" class="form-text"></p>
        </form>
    </div>
    <div class="col col-md-6">
        <form class="bg-secondary-subtle border border-secondary p-3">
            <h2>New Users:</h2>
            <label for="newUsernameInput" class="form-label">User Name</label>
            <input id="newUsernameInput" type="text" class="form-control" required>
            <label for="newPasswordInput" class="form-label">Password</label>
            <input id="newPasswordInput" type="password" class="form-control" required>
            <button id="registerFormButton" type="submit" class="btn btn-secondary mt-3">Register</button>
            <p id="registerFormFeedback" class="form-text"></p>
        </form>
    </div>
</div>
<script src="/js/loginScript.js"></script>