<h2>New Blog Post</h2>
<form class="mt-3">
    <div class="row mb-3">
        <label for="titleInput" class="form-label">Title:</label>
        <input id="titleInput" type="text" class="form-control">
    </div>
    <div class="row mb-3">
        <textarea id="textInput" class="form-control" rows="20"></textarea>
    </div>
    <div class="row">
        <button id="submitButton" type="submit" class="btn btn-secondary">Submit</button>
    </div>
</form>